# Ignore Visual Studio Code directory
.vscode/

# Kernel module build artifacts
*.o
*.ko
*.mod.c
Module.symvers
modules.order
.tmp_versions/

# Local build output
build/

# Test binaries
tests/*.o
tests/*.ko
tests/*.out
